@import "../actionDialog/actionDialog.css";

.export-action-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.export-format-submenu-action {
  width: 110px !important;
  z-index: 1001 !important;
}

@media (max-width: 570px), screen and (max-device-width: 768px) {
  .export-format-submenu-action {
    width: 100px !important;
  }
}

.mobile-mode .export-format-submenu-action {
  width: 100px !important;
}
